
<html>
<head>
    <title>Chat Room</title>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
    <body>

        <div id = "messages">
            {% for message in messages.data %}
            <li>{{message.user}} : {{message.message}}</li>
            {% endfor %}

        </div>
        <form action="/handleClient" method="post">
            <input type="text" name="myMessage">
            <button id="newClient">Login</button>
        </form>

            <button id="sendbutton">Send</button>
    </body>

    <script>
            $.ajax({
              url: "/handleClient",
              type: "get",
              data: {},
              success: function(response) {
                <!--$("#place_for_suggestions").html(messages);-->
                console.log(response)
                $('#messages').load(messages)
              },
              error: function(xhr) {
                //Do Something to handle error
              }
            });
    </script>
</html>
